@import url("color.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

::-moz-selection {
  color: var(--primary1);
  background: var(--accent);
}
/* Code for Firefox */
::selection {
  color: var(--primary1);
  background: var(--accent);
}

body,
section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  color: var(--secondary);
  background: var(--primary1);
}

main {
  max-width: 720px;
  width: 100%;
  height: auto;
  border-radius: 2.5px;
  background-image: linear-gradient(to bottom, #297440 0%, var(--accent) 100%);
}

h1 {
  text-align: center;
  padding: 1rem;
  color: var(--primary2);
}

input,
button {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  border: 0;
  padding: 1rem;
}

input {
  box-sizing: border-box;
  width: 100%;
}
input[type="text"] {
  background-color: var(--primary1);
  border: 1px solid var(--primary2);
  color: var(--primary2);
  text-align: center;
}
input[type="text"]:focus {
  border: none;
  box-shadow: none;
  background-color: var(--primary3);
}
.buttons {
  display: flex;
}

button {
  cursor: pointer;
  flex: 1;
  background: var(--primary1);
  color: var(--primary3);
}
button:hover {
  background-color: var(--primary3);
  color: var(--primary1);
}

section {
  min-height: 120px;
  text-align: center;
  background-color: var(--accent);
}
