{% load static %}
<html lang="en">
  <head>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "assets/favico/apple-touch-icon.png" %}">
     <link rel="icon" type="image/png"sizes="32x32" href="{% static  "assets/favico/-32x32.png" %}">
     <link rel="icon" type="image/png" sizes="16x16" href="{% static "assets/favico/favicon-16x16.png" %}"> 
    <link rel="manifest" href="{% static "assets/favico/site.webmanifest" %}">
    <link rel="stylesheet" href={% static 'css/style.css' %}>
  </head>
  <main>
    <h1>URL Shortener</h1>
    <form id="post-form">
      {% csrf_token %}
      <input type="text" name="link" id="link" placeholder="Enter URL here" />
      <div class="buttons">
        <button type="submit" id="shorten">Shorten</button>
      </div>
    </form>

    <section id="section"><h2></h2></section>
  </main>

  <script src="{% static "js/script.js" %}"></script>
</html>
