{% load static %}
<html lang="en">
  <head>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
  </head>
  <main>
    <h1>URL Shortener</h1>
    <form id="post-form">
      {% csrf_token %}
      <input type="text" name="link" id="link" placeholder="Enter URL here" />
      <div class="buttons">
        <button type="submit" id="shorten">Shorten</button>
      </div>
    </form>

    <section id="section"><h2></h2></section>
  </main>

  <script src="{% static "js/script.js" %}"></script>
</html>
